<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Nam Le (IT_112)</title>
  </head>
  <body>
    <h1>About Nam Le from IT-112 Winter 2023!</h1>
    <p>
      Hello! My name is Nam Le <br />I am 24 years old, and this is my 2nd
      quarter into CS, majoring in Web Development!
    </p>
    <p>
      I'm not too familiar with any of the back end web dev concepts, <br />
      so this is quite challenging, especially getting venv to work and learning
      Flask basic!
    </p>
    <p>I hope we can all get along well!!!</p>
  </body>
</html>
