<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Let's Get Your Fortune Read!</title>
  </head>
  <body>
    <h1>Enter your name, pick a color, and a number!</h1>
    <form method="POST" action="">
      <!--text box for name entering-->
      <label for="username">What's your name?</label>
      <input type="text" name="username" id="username" /> <br />
      <!--selection box for color pick-->
      <label for="color">Pick a color</label>
      <select name="color" id="color">
        <option>red</option>
        <option>yellow</option>
        <option>green</option>
        <option>blue</option>
      </select>
      <br />
      <!--selection box for number pick-->
      <label for="number">Slect a number between 1 to 4</label>
      <select name="number">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select>
      <br />
      <!--Button to submit the form-->
      <button>Click here to submit!</button>
    </form>
  </body>
</html>
